.searchWrapper {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  margin: auto;
  &-circle {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #f3a3fa;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 12px;
      right: 0;
      bottom: 0;
      left: 12px;
      width: 9px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all 0.5s;
    }
  }
  &-input {
    font-family: "Inconsolata", monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #f3a3fa;
    color: white;
    text-shadow: 0 0 10px #f3a3fa;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #f3a3fa, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #ff0fa3;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
  &-advanced {
    position: absolute;
    right: 0;
    bottom: 20px;
    border: 1px solid #ff0fa3;
    color: #ff0fa3;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    margin: 6px 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    font-size: 0.8em;
    overflow: hidden;
    &:hover,
    &:active {
      color: #f3a3fa;
    }
    &:after {
      position: relative;
      width: 101%;
      height: 0;
      top: 50%;
      left: 50%;
      background: black;
      opacity: 0;
      transform: translateX(-50%) translateY(-50%);
      transition: all 0.3s;
      box-sizing: border-box;
    }
  }
}

.options {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
